@model AdventureWorksSales.Web.ViewModels.ReportViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SALES ANALYSIS</h1>
    <p class="lead">This application is for test purposes and do not reflect actual data of any company or organization</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h3><i>Below, sales figures are represented in US Dollars</i></h3>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Total orders</h2>
        <p class="sales">
            @Model.TotalOrders
        </p>
    </div>
    <div class="col-md-4">
        <h2>Highest line total</h2>
        <p class="sales">
            @Model.HighestLineTotal
        </p>
    </div>
    <div class="col-md-4">
        <h2>Front Brakes sales total</h2>
        <p class="sales">
            @Model.FrontBrakesSalesTotal
        </p>
    </div>
</div>